<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated edom405epsilon -->
      <package
            uri="http://www.example.org/edom405epsilon"
            class="edom405epsilon.Edom405epsilonPackage"
            genModel="model/edom405epsilon.genmodel"/>
   </extension>

</plugin>
