<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("931f4bc1-95f7-4896-90ad-8cdf36410cb8");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
