<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ucus -->
      <package
            uri="http://www.example.org/ucus"
            class="pt.isep.edom.i160826.ucus.UcusPackage"
            genModel="model/ucus.genmodel"/>
   </extension>

</plugin>
