<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("4c8fa565-bb54-4dc9-82d7-362803bb7051");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
