<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("238b4435-a135-425e-9570-c0b0bda7c13b");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
